body, html {
    height: 100%;
    margin: 0;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    height: 100%;
    text-align: center;
}

.scrolling-messages {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.header-image {
    width: 100%;
    height: auto;
}
