
img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
    max-height: 80vh; /* Adjust this value as needed */
    width: 800px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


